################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Redbridge.WebApiFramework
/Redbridge.WebApi/bin/Debug/net472
/Redbridge.WebApi/obj
/Redbridge.WebApi.Tests/bin/Debug/net472
/Redbridge.WebApi.Tests/obj
