################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Redbridge.WebApiFramework
/Redbridge.WebApi/bin/Debug/net472
/Redbridge.WebApi/obj
/Redbridge.WebApi.Tests/bin/Debug/net472
/Redbridge.WebApi.Tests/obj
/.vs/ProjectEvaluation/redbridge.webapiframework.projects.v5.1
/.vs/ProjectEvaluation/redbridge.webapiframework.projects.v2
/.vs/ProjectEvaluation/redbridge.webapiframework.metadata.v5.1
/.vs/ProjectEvaluation/redbridge.webapiframework.metadata.v2
/__azurite_db_table__.json
/__azurite_db_queue__.json
/__azurite_db_queue_extent__.json
/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
/__blobstorage__/289dd10e-63cb-41f9-ac37-d811b89ca871
/Redbridge.WebApiCore/obj/Redbridge.WebApiCore.csproj.nuget.g.targets
/Redbridge.WebApiCore/obj/Redbridge.WebApiCore.csproj.nuget.g.props
/Redbridge.WebApiCore/obj/Redbridge.WebApiCore.csproj.nuget.dgspec.json
/Redbridge.WebApiCore/obj/project.nuget.cache
/Redbridge.WebApiCore/obj/project.assets.json
/Redbridge.WebApiCore/obj/Debug/net6.0/_IsIncrementalBuild
/Redbridge.WebApiCore/obj/Debug/net6.0/refint/Redbridge.WebApiCore.dll
/Redbridge.WebApiCore/obj/Debug/net6.0/ref/Redbridge.WebApiCore.dll
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.pdb
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.GlobalUsings.g.cs
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.GeneratedMSBuildEditorConfig.editorconfig
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.dll
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.csproj.FileListAbsolute.txt
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.csproj.CoreCompileInputs.cache
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.csproj.AssemblyReference.cache
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.assets.cache
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.AssemblyInfoInputs.cache
/Redbridge.WebApiCore/obj/Debug/net6.0/Redbridge.WebApiCore.AssemblyInfo.cs
/Redbridge.WebApiCore/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Redbridge.WebApiCore/bin/Debug/net6.0/Redbridge.WebApiCore.pdb
/Redbridge.WebApiCore/bin/Debug/net6.0/Redbridge.WebApiCore.dll
/Redbridge.WebApiCore/bin/Debug/net6.0/Redbridge.WebApiCore.deps.json
