################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__azurite_db_table__.json
/__azurite_db_queue__.json
/__azurite_db_queue_extent__.json
/__azurite_db_blob__.json
/__azurite_db_blob_extent__.json
/__blobstorage__/289dd10e-63cb-41f9-ac37-d811b89ca871
.vs
bin
obj
